/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
brown #ffd6a5
*/

*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;    /* allows the border box declared in body to be inherited in all declarations */

}
html{
    font-size: 62.5%;               /* this equates to 10px . We use this here and rems in the code below. changing this figure will scale site up/down */
}
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
/*    font-size: 16px;   */
    line-height: 1.7;
    color: #777;
    padding: 3rem;              /* to give a border around entire webpage */
    box-sizing: border-box;
}

.header {
    height: 95vh;                     /* 95% of vertical height */
    background-image:linear-gradient(
        to right bottom,
       rgba(126,213,111,0.8) ,
        rgba(40, 180, 133, 0.8)), 
        url(../img/hero.jpg);
    background-size: cover;             /* trys to fit element into the box width wise */
    background-position: top;
    position:relative;  /* origin */
    clip-path: polygon(0 0, 100% 0, 100% 74vh, 0 100%)
}
.logo-box {                 /* container for thwe logo */
position: absolute;
top: 4rem;  /* from origin above in header */
left: 4rem; /* from origin above in header */
}

.logo {     /* the logo */
height: 3.5rem;
}
 .text-box{
    position:absolute;
    top: 40%;               /*this margin work correctly and move the top edge to the 40% of height */
                            /* we used 40% in place of 50% due to the bottom wedge cutout it looks more centered */
    left: 50%;              /*this margin work correctly and move the left hand edge to the 50% of width */
    transform: translate(-50%, -50%);   /* this moves the top and left edges back -50% and that is the center */
    text-align: center;        /* this centers the button text in the middle of this tex-box */
 }
.heading-primary{
color: #fff;
text-transform: uppercase;
backface-visibility: hidden;    /* a fix to hide the backface of the characters from showing. I cannot see it */
margin-bottom: 6rem;            /* to seperate the button underneath */
}
.heading-primary-main{
    display:block;  /* this used to break one line of text into two parts */
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;  
    animation-name: moveInLeft;      
    animation-duration: 1s;  
    animation-timing-function: ease-out;
}
/* animation-delay: 3s;
animation-iteration-count: 3;
animation-timing-function: ease-in;
*/
.heading-primary-sub{
    display:block;                  /* this is used to break one line of text into two parts */
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
 /*   animation: moveInRight;   */
    animation: moveInRight 1s ease-out;
}
@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
    80%{
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
transform: translateX(0);
    }
}
@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    80%{
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
transform: translateX(0);
    }
}
@keyframes moveInBottom{
    0%{
        opacity: 0;
        transform: translateY(3rem);
    }
    
    100% {
        opacity: 1;
    transform: translateY(0);
    }
}

.btn:link,
.btn:visited{
text-transform: uppercase;
text-decoration: none;
padding: 1.5rem 4rem;
display: inline-block;
border-radius: 10rem;
transition: all .2;
position: relative;     /* to allow positioning of the button background larger button .btn::after */
font-size: 1.6rem;
}
.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0,0,0.2);
}
.btn:active{
    transform: translateY(-1px)
    box-shadow: 0 .5rem 1rem rgba(0,0,0.2);
}
.btn-white{
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position:absolute;
    top:0;
    left:0;
    z-index: -1;
transition: all .4s;
}
.btn-white::after{
    background-color: #fff;

}

.btn:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
.btn-animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;         /* applies the opacity: 0; in the @keyframes moveInButton  */
}